name: Deploy to Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9' 
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "us-west-2"

    - name: Install DVC
      run: pip install dvc
    - name: Install dvc support for s3
      run: pip install dvc[s3]
    - name: fetch weighrs
      run: dvc fetch
    - name: Add weights
      run: dvc pull
    - name: Create ZIP deployment package
      run:  sudo cp -ra  api/* ./
    - name: remove Directory
      run: sudo rm -r api
 
    - name: Copy Files
      run: zip -r deploy_package.zip ./

    - name: Upload package to S3 bucket
      run: aws s3 cp deploy_package.zip s3://deploy-zip-apis/
    
   
